# Executables
*.exe
*.out
*.o
*.obj

# Build folders
/build/
bin/
dist/

# VS Code
.vscode/
*.code-workspace

# Logs
*.log

# Temporary files
*~
*.tmp
*.swp

# Mac OS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Règles C++
build/
bin/
*.exe
*.o
.vscode/
